table#processContainer {
    display: block;
    max-height: 60vh;
    overflow: auto;
}

table#processContainer td.header {
    font-weight: bold;
    background: rgba(var(--color_r), var(--color_g), var(--color_b), 0.6);
    color: var(--color_light_black);
    text-align: center;
}

table#processContainer td.header:hover {
    cursor: pointer;
}

table#processContainer td.user {
    width: 7vw;
}

table#processContainer td.cpu {
    width: 3vw;
    text-align: center;
}

table#processContainer td.mem{
    width: 3vw;
    text-align: center;

}

div#mod_netstat::after {
    content: "";
    border-right: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    position: relative;
    right: -0.092vh;
    top: -1.111vh;
    height: 0.833vh;
}

div#mod_netstat_inner > h1:first-child {
    font-size: 1.48vh;
    margin: 0vh;
    width: 98%;
    padding-left: 2%;
}